@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* mobile */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

/* tablet */

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 17px;
  }
  h6 {
    font-size: 15px;
  }
}

p {
  color: #767676;
}

/* drawer mobile and tablet */

.drawer-content {
  transition: margin-left 200ms ease-in-out;
}
#drawer:checked ~ .drawer-content {
  margin-left: 0;
}
.drawer-overlay {
  transition: width 200ms;
}
#drawer:checked ~ .drawer-overlay {
  width: 100vw;
}

.bootstrap-logo {
  transform: scale(1.2) translateX(3px);
}


.fix-height-mobile {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}